---
import Layout from '../layouts/Layout.astro';
import { Image } from "astro:assets";
import Header from '../components/Header.astro'
import Hero from '../components/Hero.astro'

import womanVideocall from "../assets/desktop/image-woman-in-videocall.jpg";
import menInMeeting from "../assets/desktop/image-men-in-meeting.jpg";
import womenVideochatting from "../assets/desktop/image-women-videochatting.jpg";
import manTexting from "../assets/desktop/image-man-texting.jpg";
import Footer from '../components/Footer.astro';

---

<Layout>
	<Header />
	<div class="max-w-[90%] mx-auto">

		<Hero />

		01
	
		<div class="grid grid-cols-2 gap-4 w-[310px] mx-auto">
			<Image 
				src={womanVideocall}
				alt='Woman in videocall'
				height=144
				width=144
				class='rounded-md'
			/>
			<Image 
				src={menInMeeting}
				alt='Men in meeting'
				height=144
				width=144
				class='rounded-md'
			/>
			<Image 
				src={womenVideochatting}
				alt='Women Videochatting'
				height=144
				width=144
				class='rounded-md'
			/>
			<Image 
				src={manTexting}
				alt='Man texting'
				height=144
				width=144
				class='rounded-md'
			/>
		
		</div>
	
		<div class="text-center">
			<p class="uppercase font-black text-cyan-600"> 
				Built for modern use
			</p>
			<h2	class="text-2xl font-black">
				Smarter meetings, all in one place
			</h2>
			<p class="text-slate-600">
				Send messages, share files, show your screen, and record your meetings — all in one workspace. Control who can join with invite-only team access, data encryption, and data export.
	
	
			</p>
	
		</div>
	
		02
		
	</div>
	<Footer />
</Layout>
