<footer class="bg-cyan-600 max-h-[375px]">
    <div class="absulute inset-0 block bg-footer-desktop bg-cover bg-center w-full opacity-10 h-[375px]">
    </div>

    <div class="relative z-20 bottom-72 text-center text-white h-auto w-[90%] mx-auto">
        <h2 class="text-3xl font-black mb-6">
            Experience more together
        </h2>
        <p class="mb-10">
            Stay connected with reliable HD meetings and unlimited one-on-one and group video sessions.
        </p>
        <a href="/"
        class="rounded-full w-[193px] bg-purple-600 text-white px-10 py-4 font-black text-center"
        >
            Download <span class="text-purple-300">v1.3</span>
        </a>
    </div>
</footer>