<footer>
    <div class="bg-footer-mobile bg-cover bg-center w-full"></div>
        <!-- <h2>
            Experience more together
        </h2>
        <p>
            Stay connected with reliable HD meetings and unlimited one-on-one and group video sessions.
        </p>
        <a href="/">
            Download <span>v1.3</span>
        </a> -->
</footer>